@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
    padding-right: 55px;
}

a {
    text-decoration: none;
}

#product-customize{
    width: 40rem;
    height: 35rem;
    border: 1px solid #fff;
    margin-top: calc(5rem - 60px);
    margin-left: 3.3rem;
    float: left;    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .05rem;
    color: #fff;
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 2.25rem;
    column-gap: 30px;
}

.option {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.selectbox {
    width: 43%;
    margin-top: 1rem;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: 0;
    color: #000;
}

select, .select2, .content-select, .title, .description {
    padding: 0;
    margin: 0;
} 

.select, .select2 {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin-bottom: 22px; /*He put 30px*/
    padding: 10px; 
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
}

.content-select {
    display: flex;
    align-items: center;
}


.select.active,
.select:hover,
.select2.active,
.select2:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    border: 2px solid #000;
}

.select.active::before,
.select2.active::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #000;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -31px;
    left: calc(50% - 20px);
}

.title {
    margin-bottom: 5px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.options, .options2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
    max-height: 217.5px;
    overflow: auto;
    width: calc(100% + 21px); /*Added by me*/
    z-index: 100;
    display: none;  
}

.options.active, 
.options2.active{
    display: block;
    animation: fadeIn .3s forwards;
}

/*Animation*/

@keyframes fadeIn {
    from {
        transform: translateY(-200px) scale(.5);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

.content-option {    
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
}



.options .content-option img {
    margin: 10px;
}

.options2 .content-option img {
    margin: 10px;
}

.content-option img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.content-select img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.options .content-option:hover {
    background-color: #6ca7b6;
}

.options .content-option:hover .title,
.options .content-option:hover .description{
    color: #fff;
}

.options2 .content-option:hover {
    background-color: #6ca7b6;
}

.options2 .content-option:hover .title,
.options2 .content-option:hover .description{
    color: #fff;
}

#price {
    margin-top: 3rem;
    margin-bottom: 1rem;
    position: relative;
}

#price-value {
    color: #FFE203;
}

#canvas {
    width: 40rem;
    height: 35rem;
    border: 1px solid #fff;
    margin-top: 5rem;
    margin-left: 0;
    right: 5rem;
    padding: 0;
    position: absolute; 
    float: left;
}

.logo {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 60%;
    left: 6.5%;
    z-index: -1;
}

.logo img {
    width: 60%;
    height: 50%;
    position: absolute;
    cursor: pointer;
}

button {
    /* padding: 40px; */
    margin-top: 280px;
    width: 60px;
    height: 30px;
    /* margin-left: 275px; */
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button:active{
    background-color: #FFE203;
}

html {
    background-color: #2c494d;
}
